body{
   
    background-color: lightgray;
}

h2{ 
    background-color: purple;
    color: yellow;
    width: 50%;

}
p{
    background-color: blue;
    color: lightgray;
}
span{

    color: red;
}